section.mech-list {

    .table-container {
        max-width: 100%;
        overflow-x: scroll;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: rgba(8, 14, 44, 0.5);
        color: white;

        caption,
        th,
        td {
            padding: 1rem;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: rgba(8, 14, 44, 0.3);
        }

        tr:nth-child(odd) {
        }


        caption {
            font-size: var(--text-2xl);
        }
    }
}

@media (max-width: 650px) {
    th {
        display: none;
    }

    td {
        display: grid;
        grid-template-columns: 15ch auto;
        padding: 5rem 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
    }
}